/*Fonts*/
.hidden-min-up {
  display: none !important; }

@media (max-width: 319px) {
  .hidden-min-down {
    display: none !important; } }

@media (max-width: 319px) {
  .hidden-min-only {
    display: none !important; } }

@media (min-width: 320px) {
  .hidden-mobile-up {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-mobile-down {
    display: none !important; } }

@media (min-width: 320px) and (max-width: 767px) {
  .hidden-mobile-only {
    display: none !important; } }

@media (min-width: 768px) {
  .hidden-tablet-up {
    display: none !important; } }

@media (max-width: 1279px) {
  .hidden-tablet-down {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 1279px) {
  .hidden-tablet-only {
    display: none !important; } }

@media (min-width: 1280px) {
  .hidden-desktop-up {
    display: none !important; } }

.hidden-desktop-down {
  display: none !important; }

@media (min-width: 1280px) {
  .hidden-desktop-only {
    display: none !important; } }

/**
 * Fonts
 */
/* Raleway */
@font-face {
  font-family: 'Raleway';
  src: url("../assets/fonts/Raleway-ExtraBold.eot");
  src: url("../assets/fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Raleway-ExtraBold.woff") format("woff"), url("../assets/fonts/Raleway-ExtraBold.ttf") format("truetype"), url("../assets/fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../assets/fonts/Raleway-SemiBold.eot");
  src: url("../assets/fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Raleway-SemiBold.woff2") format("woff2"), url("../assets/fonts/Raleway-SemiBold.woff") format("woff"), url("../assets/fonts/Raleway-SemiBold.ttf") format("truetype"), url("../assets/fonts/Raleway-SemiBold.svg#Raleway-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../assets/fonts/Raleway-Bold.eot");
  src: url("../assets/fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Raleway-Bold.woff2") format("woff2"), url("../assets/fonts/Raleway-Bold.woff") format("woff"), url("../assets/fonts/Raleway-Bold.ttf") format("truetype"), url("../assets/fonts/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../assets/fonts/Raleway-Black.eot");
  src: url("../assets/fonts/Raleway-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Raleway-Black.woff2") format("woff2"), url("../assets/fonts/Raleway-Black.woff") format("woff"), url("../assets/fonts/Raleway-Black.ttf") format("truetype"), url("../assets/fonts/Raleway-Black.svg#Raleway-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../assets/fonts/Raleway-Regular.eot");
  src: url("../assets/fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Raleway-Regular.woff2") format("woff2"), url("../assets/fonts/Raleway-Regular.woff") format("woff"), url("../assets/fonts/Raleway-Regular.ttf") format("truetype"), url("../assets/fonts/Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../assets/fonts/Raleway-Light.eot");
  src: url("../assets/fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Raleway-Light.woff2") format("woff2"), url("../assets/fonts/Raleway-Light.woff") format("woff"), url("../assets/fonts/Raleway-Light.ttf") format("truetype"), url("../assets/fonts/Raleway-Light.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

/* Roboto */
@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Regular.eot");
  src: url("../assets/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../assets/fonts/Roboto-Regular.woff") format("woff"), url("../assets/fonts/Roboto-Regular.ttf") format("truetype"), url("../assets/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Medium.eot");
  src: url("../assets/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Medium.woff2") format("woff2"), url("../assets/fonts/Roboto-Medium.woff") format("woff"), url("../assets/fonts/Roboto-Medium.ttf") format("truetype"), url("../assets/fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input::-ms-clear {
  display: none; }

/**
 * Main Styles
 */
/**
 * Global
 */
*,
*::after,
*::before {
  outline: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

html,
body {
  width: 100%;
  font-size: 16px;
  line-height: normal;
  font-family: 'Raleway', sans-serif;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent; }
  html.is-hidden,
  body.is-hidden {
    overflow: hidden; }

input, select, textarea, button {
  font-family: 'Raleway', sans-serif;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
          border-radius: 0; }

html {
  -webkit-text-size-adjust: 100%;
  font-size: 10px; }

svg {
  display: block;
  max-width: 100%;
  max-height: 100%; }

a {
  color: inherit;
  text-decoration: none; }

.svg-sprite {
  display: none !important;
  position: absolute;
  left: -9999px;
  right: -9999px;
  visibility: hidden;
  opacity: 0; }

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative; }
  @media (max-width: 1279px) {
    .wrapper {
      padding-top: 64px; } }
  @media (max-width: 767px) {
    .wrapper {
      padding-top: 53px; } }

.container {
  width: 1240px;
  margin: 0 auto;
  max-width: 100%;
  height: 100%; }
  @media (max-width: 1279px) {
    .container {
      margin: 0 34px;
      width: auto; } }
  @media (max-width: 767px) {
    .container {
      margin: 0 35px;
      width: auto; } }
  @media (max-width: 767px) {
    .container_wider {
      margin: 0 20px; } }

.grid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0.2; }
  @media (max-width: 1279px) {
    .grid {
      display: none !important; } }
  .grid_invert {
    opacity: 0.3; }
  .grid__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin-left: -120px;
    margin-right: -105px; }
  .grid_wider .grid__inner {
    border-left-color: #d7d7d7;
    border-right-color: #d7d7d7; }
  .grid__item {
    border-left: 1px solid #d7d7d7;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
    .grid__item:nth-child(1) {
      width: 119px;
      border-left: none; }
    .grid__item:nth-child(2) {
      width: 361px; }
    .grid__item:nth-child(3) {
      width: 102px; }
    .grid__item:nth-child(4) {
      width: 312px; }
    .grid__item:nth-child(5) {
      width: 101px; }
    .grid__item:nth-child(6) {
      width: 363px; }
    .grid__item:nth-child(7) {
      width: 102px; }

.grid-front {
  z-index: 2; }

.pos-r {
  position: relative; }

label {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #333333; }
  @media (max-width: 767px) {
    label {
      font-size: 12px; } }

.contact-wrapper {
  position: relative; }

.animated {
  opacity: 0; }
  @media (max-width: 767px) {
    .animated {
      opacity: 1;
      -webkit-animation: none;
              animation: none; } }

/**
 * Elements
 */
.button {
  text-decoration: none;
  font-weight: 800;
  font-size: 12px;
  color: #ffffff;
  display: inline-block;
  padding: 17px 50px;
  text-transform: uppercase; }

.title {
  display: inline-block;
  font-size: 67px;
  font-weight: 300;
  line-height: 36px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff; }
  @media (max-width: 767px) {
    .title {
      font-size: 24px; } }
  .title__text_bg {
    display: inline-block;
    font-weight: 800;
    background-color: #242c50;
    font-family: 'Raleway', sans-serif;
    font-size: 67px;
    color: #fff;
    padding: 0px 5px 10px;
    line-height: 1em; }
    @media (max-width: 767px) {
      .title__text_bg {
        font-size: 24px;
        padding: 0px 5px 4px; } }
  .title__text_color {
    color: #00799b; }

.main {
  font-family: 'Raliway', sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  color: #242c50; }
  @media (max-width: 767px) {
    .main {
      font-size: 24px;
      line-height: 36px; } }

.description {
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #000; }
  @media (max-width: 767px) {
    .description {
      margin-top: 23px;
      font-size: 12px;
      line-height: 18px; } }

/**
 * Components
 */
.header {
  width: 100%;
  background-color: #fff;
  height: 103px; }
  @media (max-width: 1279px) {
    .header {
      height: 64px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000; } }
  @media (max-width: 767px) {
    .header {
      height: 53px; } }
  .header__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 0; }
    @media (max-width: 767px) {
      .header__inner {
        padding: 10px 0; } }
    @media (max-width: 1279px) {
      .header__inner {
        padding: 12px 0; } }
  .header__column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -50px; }
    @media (max-width: 1279px) {
      .header__wrapper {
        display: block;
        position: fixed;
        padding: 0 47px;
        left: 0;
        width: 100%;
        top: 64px;
        bottom: 0;
        background-color: #242c50;
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        -webkit-transition: -webkit-transform 0.5s ease 0s;
        transition: -webkit-transform 0.5s ease 0s;
        -o-transition: transform 0.5s ease 0s;
        transition: transform 0.5s ease 0s;
        transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
        overflow: auto;
        z-index: 1000; } }
    .header__wrapper.is-active {
      -webkit-transform: translateX(0%);
          -ms-transform: translateX(0%);
              transform: translateX(0%); }
    @media (max-width: 767px) {
      .header__wrapper {
        top: 53px; } }
  .header__logo {
    display: block; }
  .header__pic {
    display: block;
    height: auto;
    max-width: 100%; }
    @media (max-width: 767px) {
      .header__pic {
        height: 32px; } }
  .header__logo-wrap {
    width: 248px;
    display: block; }
  .header__contact {
    display: inline-block; }
    @media (max-width: 1279px) {
      .header__contact {
        display: none; } }
    .header__contact-phone {
      border-right: 5px solid #ff3333;
      font-weight: 500;
      padding: 9px 20px 9px 0;
      font-size: 16px;
      font-family: 'Roboto', sans-serif; }
    .header__contact-feedback {
      padding-left: 15px;
      font-size: 15px;
      font-weight: 400;
      cursor: pointer; }

@media (max-width: 1279px) {
  .nav {
    padding-top: 39px; } }

.nav__item {
  margin-right: 35px;
  position: relative;
  display: inline-block; }
  @media (max-width: 1279px) {
    .nav__item {
      display: block;
      margin-right: 0;
      padding-bottom: 20px; } }
  @media (max-width: 767px) {
    .nav__item {
      padding-bottom: 20px;
      padding-top: 20px;
      border-bottom: 1px solid #505673; } }

.nav__link_arrow:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -20px;
  width: 10px;
  height: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/images/2.png);
  display: none; }
  @media (max-width: 1279px) {
    .nav__link_arrow:after {
      display: block; } }
  @media (max-width: 767px) {
    .nav__link_arrow:after {
      right: 0; } }

.nav__link_arrow.is-active::after {
  -webkit-transform: translate3d(0, -50%, 0) rotate(180deg);
          transform: translate3d(0, -50%, 0) rotate(180deg); }

.nav__link {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  padding: 0px 15px;
  white-space: nowrap; }
  .nav__link_none {
    display: none; }
    @media (max-width: 1279px) {
      .nav__link_none {
        display: block; } }
  @media (min-width: 1280px) {
    .nav__link:hover {
      border-bottom: 8px solid #ff3333;
      padding: 0 25px 33px 25px;
      margin-right: -10px;
      margin-left: -10px;
      position: relative;
      z-index: 1000; } }
  @media (max-width: 1279px) {
    .nav__link {
      padding: 0; } }
  @media (max-width: 767px) {
    .nav__link {
      display: block; } }
  @media (max-width: 1279px) {
    .nav__link {
      color: #fff; } }
  .nav__link.is-active {
    border-bottom: 8px solid #ff3333;
    padding: 0 25px 33px 25px;
    margin-right: -10px;
    margin-left: -10px;
    position: relative;
    z-index: 1000; }
    @media (max-width: 1279px) {
      .nav__link.is-active {
        margin: 0;
        padding: 0;
        border: 0; } }
  .nav__link:hover {
    color: #ff3333; }
    @media (max-width: 1279px) {
      .nav__link:hover {
        color: #ffffff; } }

@media (min-width: 1280px) {
  .nav__item:nth-child(2):hover .dropdown {
    display: block; } }

.dropdown {
  position: absolute;
  display: none;
  top: 100%;
  left: 14px;
  -webkit-transform: translate(-24px, 0);
      -ms-transform: translate(-24px, 0);
          transform: translate(-24px, 0);
  background-color: #fff;
  color: #000;
  z-index: 10; }
  @media (max-width: 1279px) {
    .dropdown {
      position: static;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      background-color: transparent; } }
  .dropdown__item {
    padding: 12px 30px;
    font-size: 14px;
    cursor: pointer;
    pointer-events: auto;
    display: block;
    border-bottom: 1px solid #cccccc;
    white-space: nowrap;
    position: relative; }
    .dropdown__item::after {
      content: '';
      display: block;
      width: 5px;
      height: 100%;
      background-color: #ff3333;
      position: absolute;
      left: -1px;
      top: 0;
      bottom: 0;
      opacity: 0; }
    @media (min-width: 1280px) {
      .dropdown__item:hover {
        background-color: #fafafa;
        color: #ff3333; } }
    @media (max-width: 1279px) {
      .dropdown__item {
        border: 0;
        background-color: #242c50;
        color: #ffffff;
        padding: 12px 0; } }
    .dropdown__item:last-child {
      border-bottom: 0; }
  @media (min-width: 1280px) {
    .dropdown__item:hover::after {
      opacity: 1; } }
  .dropdown__inner {
    padding: 41px 0 0 0; }
    @media (max-width: 1279px) {
      .dropdown__inner {
        padding: 0; } }
  .dropdown__content {
    border: 1px solid #cccccc; }
    @media (max-width: 1279px) {
      .dropdown__content {
        border: 0; } }
    @media (max-width: 1279px) {
      .dropdown__content {
        margin-top: 5px; } }
  .dropdown.is-active {
    display: block; }

.burg {
  display: none;
  width: 35px;
  margin-right: 25px;
  cursor: pointer;
  position: relative;
  z-index: 4; }
  .burg__line, .burg__line:nth-child(2)::after {
    height: 4px;
    margin-top: 3px;
    background-color: #242c50;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
    transition: opacity 0.2s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s; }
  .burg__line:nth-child(2)::after {
    content: "";
    display: block;
    width: 100%; }
  .burg__line:first-child {
    margin-top: 0; }
  .burg.is-active .burg__line:nth-child(1) {
    opacity: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%); }
  .burg.is-active .burg__line:nth-child(3) {
    opacity: 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%); }
  .burg.is-active .burg__line:nth-child(2) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #000; }
  .burg.is-active .burg__line:nth-child(2)::after {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    background-color: #000; }
  @media (max-width: 1279px) {
    .burg {
      display: block; } }
  @media (max-width: 767px) {
    .burg {
      width: 28px;
      margin-right: 15px; } }

.phone {
  display: none; }
  @media (max-width: 1279px) {
    .phone {
      display: block; } }

.general {
  padding-bottom: 163px;
  padding-top: 163px;
  overflow: hidden;
  z-index: -100;
  position: relative;
  height: 100%;
  width: 100%; }
  .general__content {
    max-width: 882px;
    position: relative; }
    @media (max-width: 767px) {
      .general__content {
        max-width: 100%;
        position: relative;
        width: 340px;
        margin: 0 0 0 -11px; } }
  .general__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .general__overlay {
    background: rgba(11, 27, 102, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4; }
    @media (min-width: 1280px) {
      .general__overlay {
        background-image: none !important; } }
  .general__inner {
    position: relative;
    z-index: 9999; }
  .general__text {
    font-size: 62px;
    line-height: 58px;
    font-weight: 900;
    color: #fff;
    padding-top: 42px;
    padding-bottom: 53px;
    padding-left: 45px;
    letter-spacing: 2.5px; }
    @media (max-width: 1279px) {
      .general__text {
        font-size: 48px;
        line-height: 46px; } }
    @media (max-width: 767px) {
      .general__text {
        font-size: 20px;
        line-height: 24px;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 11px;
        letter-spacing: 0.25px; } }
  .general__description {
    color: #fff;
    margin-top: 30px;
    line-height: 31px;
    font-size: 22px;
    font-weight: bold; }
    @media (max-width: 1279px) {
      .general__description {
        font-size: 20px;
        margin-top: 20px; } }
    @media (max-width: 767px) {
      .general__description {
        margin-top: 15px;
        line-height: 18px;
        font-size: 14px;
        width: 320px;
        margin: 15px 0; } }

.border-left {
  width: 14px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00ccff; }
  @media (max-width: 767px) {
    .border-left {
      width: 5px; } }

.border-top {
  width: 39%;
  height: 14px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00ccff; }
  @media (max-width: 767px) {
    .border-top {
      height: 5px; } }

.border-bottom {
  width: 100%;
  height: 14px;
  background-color: #00ccff;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0; }
  @media (max-width: 767px) {
    .border-bottom {
      height: 5px; } }

.promo {
  background-color: #0886cc;
  padding: 146px 0;
  overflow: hidden; }
  @media (max-width: 1279px) {
    .promo {
      padding: 90px 0; } }
  @media (max-width: 767px) {
    .promo {
      padding: 30px 0;
      text-align: center; } }
  .promo__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1279px) {
      .promo__inner {
        display: block; } }
    @media (max-width: 767px) {
      .promo__inner {
        display: block; } }
  .promo__content {
    width: 591px;
    max-width: 100%;
    position: relative; }
    @media (max-width: 1279px) {
      .promo__content {
        margin: 0 auto;
        text-align: center; } }
    @media (max-width: 767px) {
      .promo__content {
        width: 100%; } }
  .promo__img {
    width: 50%;
    position: relative; }
    @media (max-width: 1279px) {
      .promo__img {
        margin: 0 auto;
        text-align: center; } }
  .promo__pic {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    @media (max-width: 1279px) {
      .promo__pic {
        position: relative;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        left: 0; } }
    @media (max-width: 767px) {
      .promo__pic {
        width: 60%;
        display: block;
        margin: 0 auto; } }
  .promo__puls {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: rgba(250, 250, 250, 0.08);
    width: 1200px;
    height: 1200px;
    -webkit-animation: puls 10s linear 0s infinite;
            animation: puls 10s linear 0s infinite;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
    @media (max-width: 767px) {
      .promo__puls {
        width: 600px;
        height: 600px; } }
    .promo__puls:nth-child(2) {
      -webkit-animation-delay: 2.5s;
              animation-delay: 2.5s; }
    .promo__puls:nth-child(3) {
      -webkit-animation-delay: 5s;
              animation-delay: 5s; }
    .promo__puls:nth-child(4) {
      -webkit-animation-delay: 7.5s;
              animation-delay: 7.5s;
      opacity: 1; }

@-webkit-keyframes puls {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0, 0);
            transform: translate3d(-50%, -50%, 0) scale(0, 0);
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1, 1);
            transform: translate3d(-50%, -50%, 0) scale(1, 1);
    opacity: 0; } }

@keyframes puls {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0, 0);
            transform: translate3d(-50%, -50%, 0) scale(0, 0);
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1, 1);
            transform: translate3d(-50%, -50%, 0) scale(1, 1);
    opacity: 0; } }
  .promo__title {
    font-size: 48px; }
    @media (max-width: 767px) {
      .promo__title {
        font-size: 24px;
        width: 253px;
        max-width: 100%; } }
    .promo__title .title__text_bg {
      font-size: 48px;
      margin-top: 20px; }
      @media (max-width: 767px) {
        .promo__title .title__text_bg {
          font-size: 24px;
          margin-top: 10px; } }
  .promo__description {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 29px; }
    @media (max-width: 767px) {
      .promo__description {
        font-size: 14px;
        line-height: 24px;
        text-align: left; } }

.button-border {
  position: relative;
  display: inline-block; }
  .button-border__top-left {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #9bcce8;
    height: 2px;
    width: 16%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .button-border__left {
    width: 2px;
    height: 100%;
    position: absolute;
    background-color: #9bcce8;
    left: 0;
    top: 0; }
  .button-border__bottom-left {
    height: 2px;
    width: 67%;
    position: absolute;
    background-color: #9bcce8;
    left: 0;
    bottom: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .button-border__bottom-right {
    height: 2px;
    width: 16%;
    position: absolute;
    background-color: #9bcce8;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .button-border__right {
    width: 2px;
    height: 100%;
    position: absolute;
    background-color: #9bcce8;
    right: 0;
    top: 0; }
  .button-border__top-right {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #9bcce8;
    height: 2px;
    width: 67%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

.button-border:hover .button-border__top-right {
  width: 16%; }

.button-border:hover .button-border__top-left {
  width: 67%; }

.button-border:hover .button-border__bottom-left {
  width: 16%; }

.button-border:hover .button-border__bottom-right {
  width: 67%; }

.button-border_color {
  position: relative;
  display: inline-block; }
  .button-border_color__top-left {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #12526b;
    height: 2px;
    width: 16%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .button-border_color__left {
    width: 2px;
    height: 100%;
    position: absolute;
    background-color: #12526b;
    left: 0;
    top: 0; }
  .button-border_color__bottom-left {
    height: 2px;
    width: 67%;
    position: absolute;
    background-color: #12526b;
    left: 0;
    bottom: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .button-border_color__bottom-right {
    height: 2px;
    width: 16%;
    position: absolute;
    background-color: #12526b;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .button-border_color__right {
    width: 2px;
    height: 100%;
    position: absolute;
    background-color: #12526b;
    right: 0;
    top: 0; }
  .button-border_color__top-right {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #12526b;
    height: 2px;
    width: 67%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

.button-border_color:hover .button-border_color__top-right {
  width: 16%; }

.button-border_color:hover .button-border_color__top-left {
  width: 67%; }

.button-border_color:hover .button-border_color__bottom-left {
  width: 16%; }

.button-border_color:hover .button-border_color__bottom-right {
  width: 67%; }

.grid-promo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .grid-promo__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
  .grid-promo__item {
    border-left: 1px solid rgba(215, 215, 215, 0.2); }
    .grid-promo__item:nth-child(1) {
      width: 343px; }
    .grid-promo__item:nth-child(2) {
      width: 118px; }
    .grid-promo__item:nth-child(3) {
      width: 303px; }
    .grid-promo__item:nth-child(4) {
      width: 120px; }
    .grid-promo__item:nth-child(5) {
      width: 351px;
      border-right: 1px solid rgba(215, 215, 215, 0.2); }

.service-section {
  background-color: #111829;
  padding: 146px 0; }
  @media (max-width: 767px) {
    .service-section {
      padding: 30px 0;
      text-align: center; } }

.service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 27px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media (max-width: 1279px) {
    .service {
      margin-right: -15px; } }
  .service__item {
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
    height: 303px;
    display: block;
    position: relative;
    -webkit-background-size: 0px 0px;
            background-size: 0px 0px;
    background-position: 0 0; }
    @media (max-width: 1279px) {
      .service__item {
        width: -webkit-calc(100% / 3 - 15px);
        width: calc(100% / 3 - 15px);
        height: 232px;
        margin-bottom: 15px;
        margin-right: 15px; } }
    @media (max-width: 767px) {
      .service__item {
        width: 100%;
        height: 186px;
        margin-bottom: 15px; } }
    .service__item::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.67);
      z-index: 999;
      opacity: 0;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .service__item:hover::before {
      opacity: 1;
      border: 6px solid #fff; }
    .service__item:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-image: inherit;
      -webkit-background-size: cover;
              background-size: cover;
      background-position: center center;
      opacity: 0;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .service__item:hover::after {
      opacity: 1; }
  .service__item_color1 {
    background-color: #0a4870; }
    @media (max-width: 767px) {
      .service__item_color1 {
        background-color: #0a4870; } }
  .service__item_color2 {
    background-color: #0a5983; }
    @media (max-width: 767px) {
      .service__item_color2 {
        background-color: #0a5983; } }
  .service__item_color3 {
    background-color: #0773a7; }
    @media (max-width: 767px) {
      .service__item_color3 {
        background-color: #0d6899; } }
  .service__item_color4 {
    background-color: #0a5983; }
    @media (max-width: 767px) {
      .service__item_color4 {
        background-color: #0773a7; } }
  .service__item_color5 {
    background-color: #0773a7; }
    @media (max-width: 767px) {
      .service__item_color5 {
        background-color: #147eae; } }
  .service__item_color6 {
    background-color: #147eae; }
    @media (max-width: 767px) {
      .service__item_color6 {
        background-color: #147eae; } }
  .service__item-inner {
    display: block;
    position: absolute;
    top: 62px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    z-index: 1000; }
    .service__item-inner_bottom {
      height: 149px; }
    .service__item-inner::before {
      content: '';
      position: absolute;
      top: 114px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 65px;
      height: 4px;
      background-color: #ff3333;
      opacity: 0;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      @media (max-width: 1279px) {
        .service__item-inner::before {
          top: 80px; } }
      @media (max-width: 767px) {
        .service__item-inner::before {
          content: none; } }
    @media (max-width: 1279px) {
      .service__item-inner {
        top: 42px; } }
    @media (max-width: 767px) {
      .service__item-inner {
        top: 40px; } }
  .service__item:hover .service__item-inner::before {
    opacity: 1;
    z-index: 999; }
  .service__description {
    display: block;
    color: #fff;
    margin-top: 54px;
    width: 262px;
    line-height: 27px;
    max-width: 100%;
    font-size: 19px;
    font-weight: bold; }
    @media (max-width: 1279px) {
      .service__description {
        font-size: 14px;
        margin-top: 32px;
        padding: 0 30px; } }
    @media (max-width: 767px) {
      .service__description {
        margin-top: 9px;
        width: 213px;
        line-height: 20px;
        font-size: 14px; } }
  .service__pic {
    max-height: 100%;
    width: auto; }
  .service__wrapper {
    height: 87px;
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 1279px) {
      .service__wrapper {
        height: 60px; } }
    @media (max-width: 767px) {
      .service__wrapper {
        height: 50px; } }

.popular {
  padding: 86px 0; }
  @media (max-width: 767px) {
    .popular {
      padding: 30px 0;
      text-align: center; } }
  .popular__title .title__text_color {
    margin-left: 24px; }
    @media (max-width: 767px) {
      .popular__title .title__text_color {
        margin-left: 5px; } }
  .popular__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 76px;
    background-color: #ffffff;
    position: relative;
    border-bottom: 1px solid #d8d8d8; }
    @media (max-width: 1279px) {
      .popular__inner {
        margin-top: 40px; } }
    @media (max-width: 767px) {
      .popular__inner {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        padding: 0; } }
  .popular__bg {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover; }
  .popular__content {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    z-index: 1; }
    @media (max-width: 767px) {
      .popular__content {
        position: static;
        opacity: 1;
        display: none;
        width: 100%;
        height: auto;
        -webkit-transition: 0s;
        -o-transition: 0s;
        transition: 0s;
        background-image: none !important; } }
  .popular__content-pic {
    display: none;
    height: auto;
    width: 100%; }
    @media (max-width: 767px) {
      .popular__content-pic {
        display: block; } }
  .popular__column {
    width: 50%; }
    @media (max-width: 767px) {
      .popular__column {
        width: 100%; } }
  .popular__column + .popular__column {
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center; }
    @media (max-width: 767px) {
      .popular__column + .popular__column {
        height: 200px;
        margin-top: 20px;
        display: none; } }
  .popular__item {
    border-top: 1px solid #d8d8d8;
    padding: 14px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 2;
    cursor: pointer; }
    @media (max-width: 767px) {
      .popular__item {
        padding: 10px;
        padding-right: 20px; } }
    .popular__item:last-child {
      border-bottom: 1px solid #d8d8d8 !important; }
    .popular__item svg {
      width: 29px;
      height: 100%;
      position: absolute;
      right: 0;
      opacity: 0;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
  .popular__service {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: block;
    font-size: 15px;
    text-align: left;
    width: 305px;
    max-width: 100%; }
    @media (max-width: 1279px) {
      .popular__service {
        width: 195px;
        font-size: 14px; } }
    @media (max-width: 767px) {
      .popular__service {
        font-size: 12px;
        width: 226px; } }
  .popular__arrow {
    width: 13px;
    height: 13px;
    background-image: url(../assets/images/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
    right: 20px;
    z-index: 1000; }
    @media (max-width: 767px) {
      .popular__arrow {
        -webkit-transform: translate3d(0, -50%, 0) rotate(90deg);
                transform: translate3d(0, -50%, 0) rotate(90deg); } }
  @media (max-width: 767px) {
    .popular__item.is-active .popular__arrow {
      -webkit-transform: translate3d(0, -50%, 0) rotate(270deg);
              transform: translate3d(0, -50%, 0) rotate(270deg); } }
  .popular__btn {
    display: inline-block;
    text-transform: uppercase;
    padding: 15px 25px;
    background-color: #ff3333;
    color: #ffffff;
    font-size: 12px;
    margin-right: 30px;
    visibility: hidden;
    cursor: pointer; }
    .popular__btn:hover {
      background-color: red; }
    @media (max-width: 1279px) {
      .popular__btn {
        padding: 10px 20px; } }
    @media (max-width: 767px) {
      .popular__btn {
        visibility: hidden;
        padding: 5px 10px;
        margin-left: 15px;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0; } }
  @media (max-width: 767px) {
    .popular__item.is-active .popular__btn {
      visibility: visible; } }
  @media (min-width: 768px) {
    .popular__item:hover > .popular__btn {
      visibility: visible; }
    .popular__item:hover > .popular__service {
      color: #ff3333; }
    .popular__item:hover .popular__arrow {
      right: 0;
      background-image: url(../assets/images/redarrow.png); }
    .popular__item:hover svg {
      right: -25px;
      opacity: 1;
      top: 0; }
    .popular__item:hover + .popular__content {
      opacity: 1; }
    .popular__item:hover {
      cursor: pointer;
      background-color: #f6f7f8; }
    .popular__content {
      display: block !important;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; } }

.partners {
  padding-bottom: 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  @media (max-width: 767px) {
    .partners {
      text-align: center;
      padding-bottom: 30px; } }
  .partners__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 80px;
    position: relative;
    padding-bottom: 80px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    @media (max-width: 1279px) {
      .partners__inner {
        padding: 0 34px 100px 0px;
        margin: 42px -34px 0 -34px; } }
    @media (max-width: 767px) {
      .partners__inner {
        margin-top: 30px;
        display: none; } }
  .partners__inner_mobile {
    display: none; }
    @media (max-width: 767px) {
      .partners__inner_mobile {
        display: block;
        padding: 0 35px 100px 35px;
        margin: 30px -35px 0 -35px; } }
  .partners__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 80px;
    position: relative;
    padding-bottom: 80px; }
    @media (max-width: 767px) {
      .partners__row {
        padding: 0 25px 0 25px;
        margin: 0 -25px 25px -25px; } }
  .partners__item {
    margin-right: 93px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    cursor: pointer; }
    @media (max-width: 1279px) {
      .partners__item {
        padding: 0 34px;
        width: auto; } }
    @media (max-width: 767px) {
      .partners__item {
        padding: 0 35px;
        margin: 0px -10px; } }
  @media (max-width: 767px) {
    .partners__item:first-child {
      padding-left: 10px; } }
  .partners__wrap {
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: auto;
    pointer-events: none; }
    @media (max-width: 767px) {
      .partners__wrap {
        width: 100px;
        height: 100px; } }
  .partners__pic {
    max-width: 100%;
    width: auto; }

.ps__thumb-x {
  bottom: 0;
  height: 5px !important;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent !important; }

.ps__thumb-x::after {
  content: '';
  display: block;
  height: 100%;
  background-color: #7588ac; }
  @media (max-width: 1279px) {
    .ps__thumb-x::after {
      margin: 0 28px; } }
  @media (max-width: 767px) {
    .ps__thumb-x::after {
      margin: 0 35px; } }

.ps__rail-x {
  opacity: 1 !important;
  background: none !important;
  height: 5px; }

.news {
  background-color: #111829;
  padding: 90px 0 96px 0; }
  @media (max-width: 767px) {
    .news {
      padding: 30px 0;
      text-align: center; } }
  .news__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    @media (max-width: 767px) {
      .news__wrapper {
        display: block; } }
  .news__inner {
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .news__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 -25px;
    position: relative;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    padding: 25px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    @media (max-width: 767px) {
      .news__row {
        margin: 0px -35px;
        padding: 20px 0 0 20px; } }
  .news__item {
    width: 33vw;
    position: relative;
    min-width: 400px; }
    @media (max-width: 767px) {
      .news__item {
        min-width: 263px;
        padding: 0 15px; } }
  .news__item-link {
    display: block; }
  @media (max-width: 767px) {
    .news__button {
      margin-top: 20px; } }
  @media (max-width: 767px) {
    .news__btn {
      padding: 14px 26px; } }
  .news__link {
    display: inline-block; }

.item__bg {
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center; }
  .item__bg:before {
    content: '';
    padding-top: 50%;
    display: block; }

.item__inner {
  padding: 50px;
  height: 100%; }
  @media (max-width: 767px) {
    .item__inner {
      padding: 0 0 50px 0; } }

.item__wrapper {
  position: absolute;
  bottom: 0;
  padding-bottom: 50px; }
  @media (max-width: 767px) {
    .item__wrapper {
      left: 50%;
      top: 63%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); } }

.item__date {
  display: inline-block;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 5px;
  background-color: #00799b;
  margin-top: 26px; }

.item__text {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 20px 0 100px; }
  @media (max-width: 767px) {
    .item__text {
      font-size: 17px; } }

.item__button {
  margin-top: 35px; }

@media (min-width: 1280px) {
  .item__inner:hover {
    background-color: #fff; }
    .item__inner:hover .item__date {
      background-color: #ff3333; }
    .item__inner:hover .item__btn {
      color: #ff3333; }
    .item__inner:hover .item__button span {
      background-color: #ff3333; }
    .item__inner:hover .item__text {
      color: #ff3333; } }

@media (max-width: 767px) {
  .item__inner .item__button span {
    background-color: #7b7f88; } }

@media (max-width: 767px) {
  .item__inner .item__btn {
    padding: 14px 26px; } }

.gallery {
  padding: 76px 0; }
  @media (max-width: 767px) {
    .gallery {
      padding: 40px 0; } }
  .gallery__inner {
    margin-top: 50px;
    padding: 0 15px;
    display: block !important; }
    @media (max-width: 1279px) {
      .gallery__inner {
        padding-bottom: 100px; } }
    @media (max-width: 767px) {
      .gallery__inner {
        padding-bottom: 70px; } }
  .gallery__item {
    width: 1071px;
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    .gallery__item::after {
      content: '';
      display: block;
      padding-top: 58%; }
  .gallery__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    @media (max-width: 767px) {
      .gallery__row {
        display: block;
        text-align: center; } }
  .gallery__btn {
    color: #000; }
    @media (max-width: 767px) {
      .gallery__btn {
        padding: 14px 40px; } }
  .gallery__button {
    margin-top: 20px; }
  .gallery__wrap {
    position: relative; }

@media (max-width: 767px) {
  .js-slick {
    margin: -30px; } }

.js-slick::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100vw;
  margin-left: -3px;
  background-color: rgba(255, 255, 255, 0.7); }
  @media (max-width: 1279px) {
    .js-slick::after {
      display: none; } }

.js-slick::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100vw;
  margin-left: 3px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 999; }
  @media (max-width: 1279px) {
    .js-slick::before {
      display: none; } }

.slick-list {
  overflow: visible; }

.slick-prev {
  position: absolute;
  bottom: 0px;
  right: 85px;
  z-index: 999;
  line-height: 0;
  font-size: 0;
  border: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer; }
  @media (max-width: 1279px) {
    .slick-prev {
      right: 50%;
      -webkit-transform: translate(50%, 0);
          -ms-transform: translate(50%, 0);
              transform: translate(50%, 0); } }
  .slick-prev::before {
    content: '';
    width: 80px;
    height: 80px;
    background-color: #7588ac;
    display: block;
    background-image: url(../assets/images/arrowslick.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
    @media (max-width: 767px) {
      .slick-prev::before {
        width: 50px;
        height: 50px; } }
  .slick-prev:hover::before {
    background-color: #242c50; }

.slick-next {
  position: absolute;
  bottom: 0;
  right: 3px;
  line-height: 0;
  font-size: 0;
  border: 0;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer; }
  @media (max-width: 1279px) {
    .slick-next {
      right: -webkit-calc(50% - 81px);
      right: calc(50% - 81px);
      -webkit-transform: translate(50%, 0);
          -ms-transform: translate(50%, 0);
              transform: translate(50%, 0); } }
  @media (max-width: 767px) {
    .slick-next {
      right: -webkit-calc(50% - 51px);
      right: calc(50% - 51px);
      -webkit-transform: translate(50%, 0);
          -ms-transform: translate(50%, 0);
              transform: translate(50%, 0); } }
  .slick-next::before {
    content: '';
    width: 80px;
    height: 80px;
    background-color: #7588ac;
    display: block;
    background-image: url(../assets/images/arrowslick.png);
    background-repeat: no-repeat;
    background-position: center; }
    @media (max-width: 767px) {
      .slick-next::before {
        width: 50px;
        height: 50px; } }
  .slick-next:hover::before {
    background-color: #242c50; }

.slick-counter {
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  position: relative; }
  @media (max-width: 767px) {
    .slick-counter {
      font-size: 12px; } }
  .slick-counter__inner {
    display: inline-block;
    background-color: #cccccc;
    width: 80px;
    height: 80px;
    text-align: center;
    padding-top: 25px;
    position: absolute;
    top: -80px;
    right: 165px; }
    @media (max-width: 1279px) {
      .slick-counter__inner {
        right: -webkit-calc(50% + 80px);
        right: calc(50% + 80px);
        -webkit-transform: translate(50%, 0);
            -ms-transform: translate(50%, 0);
                transform: translate(50%, 0); } }
    @media (max-width: 767px) {
      .slick-counter__inner {
        width: 50px;
        top: -20px;
        height: 50px;
        padding-top: 16px;
        right: -webkit-calc(50% + 50px);
        right: calc(50% + 50px); } }

.footer {
  background-color: #111829; }
  .footer__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .footer__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse; } }
  .footer__column {
    width: 463px;
    padding: 76px 0; }
    .footer__column_one {
      position: relative;
      padding: 76px 0; }
      .footer__column_one::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(9, 14, 25, 0.51);
        width: 100vw; }
        @media (max-width: 1279px) {
          .footer__column_one::before {
            background-color: #111829; } }
    .footer__column:last-child {
      padding-left: 50px;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      @media (max-width: 1279px) {
        .footer__column:last-child {
          padding-left: 11px; } }
      @media (max-width: 767px) {
        .footer__column:last-child {
          padding: 0; } }
    @media (max-width: 767px) {
      .footer__column {
        width: 100%;
        padding: 0; } }
  @media (max-width: 767px) {
    .footer__wrapper_none {
      display: none; } }
  .footer__wrapper {
    position: relative; }
  .footer__wrap {
    display: none; }
    @media (max-width: 767px) {
      .footer__wrap {
        display: block;
        padding-top: 20px; } }
  .footer__title {
    color: #cccccc;
    font-weight: 400;
    font-size: 22px;
    position: relative;
    white-space: nowrap; }
    @media (max-width: 1279px) {
      .footer__title {
        font-size: 20px; } }
    .footer__title:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 10px;
      height: 10px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../assets/images/2.png);
      display: none; }
      @media (max-width: 767px) {
        .footer__title:after {
          display: block; } }
      .footer__title:after:last-child {
        display: none; }
    .footer__title.is-active::after {
      -webkit-transform: translate3d(0, -50%, 0) rotate(180deg);
              transform: translate3d(0, -50%, 0) rotate(180deg); }
    @media (max-width: 767px) {
      .footer__title {
        font-size: 14px;
        color: #cccccc;
        font-weight: 500;
        display: block;
        padding: 15px 0;
        border-top: 1px solid #414654; } }
  .footer__title_contact {
    display: none; }
    .footer__title_contact::after {
      display: none; }
    @media (max-width: 767px) {
      .footer__title_contact {
        display: block; } }
  .footer__pic {
    display: block; }
  .footer__contact {
    margin-top: 40px;
    margin-left: 5px;
    position: relative; }
    @media (max-width: 767px) {
      .footer__contact {
        margin: 5px 0; } }
  .footer__contact-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }
  .footer__contact-text {
    margin-left: 25px;
    display: block;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px; }
    .footer__contact-text:hover:first-child {
      text-decoration: underline; }
  .footer__contact-wrapper {
    width: 18px; }
  .footer__column_bgcolor {
    width: 313px;
    max-width: 100%;
    background-color: rgba(9, 14, 25, 0.3);
    padding-left: 50px; }
    @media (max-width: 1279px) {
      .footer__column_bgcolor {
        display: block;
        background-color: #111829;
        width: 264px;
        padding-left: 25px;
        margin-right: 8px; } }
    @media (max-width: 767px) {
      .footer__column_bgcolor {
        background-color: #111829;
        margin-right: 0; } }
  .footer__column-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    @media (max-width: 767px) {
      .footer__column-wrapper {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin-top: 20px; } }
  @media (max-width: 767px) {
    .footer__column_flex {
      width: 100%;
      padding: 0; } }
  .footer__nav {
    margin-top: 40px; }
    .footer__nav.is-active {
      display: block; }
    @media (max-width: 767px) {
      .footer__nav {
        display: none;
        margin-top: 0; } }
  .footer__nav-link {
    display: inline-block;
    color: #ffffff;
    line-height: 36px; }
    @media (max-width: 1279px) {
      .footer__nav-link {
        font-size: 14px; } }
    @media (max-width: 767px) {
      .footer__nav-link {
        font-size: 12px; } }
  @media (min-width: 1280px) {
    .footer__nav-link:hover {
      background-color: #009bc6;
      padding: 5px 25px;
      margin: -5px -25px; } }
  .footer__nav-link:active {
    background-color: #009bc6;
    padding: 5px 25px;
    margin: -5px -25px; }
  .footer__logo-wrap {
    width: 221px;
    display: block; }
    @media (max-width: 767px) {
      .footer__logo-wrap {
        width: 200px; } }
  .footer__pic-logo {
    height: auto;
    display: block;
    max-width: 100%; }

.social {
  margin-top: 40px;
  width: 299px;
  max-width: 100%;
  text-align: center;
  position: relative; }
  @media (max-width: 767px) {
    .social {
      border-bottom: 1px solid #414654;
      border-top: 1px solid #414654;
      width: 100%;
      padding-top: 7px;
      padding-bottom: 7px; } }
  .social__link {
    display: inline-block;
    width: 43px;
    height: 43px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #090c19;
    position: relative;
    margin-right: 10px; }
    @media (max-width: 767px) {
      .social__link {
        background-color: #111829; } }
  .social__pic {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0.5; }
    @media (max-width: 767px) {
      .social__pic {
        opacity: 1; } }
  @media (min-width: 1280px) {
    .social__link:hover {
      background-color: #009bc6; }
      .social__link:hover .social__pic {
        opacity: 1; } }
  .social__link:active {
    background-color: #009bc6; }
    .social__link:active .social__pic {
      opacity: 1; }

.copyright {
  padding: 35px 0;
  background-color: #090c19; }
  @media (max-width: 767px) {
    .copyright {
      background-color: #111829; } }
  .copyright__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .copyright__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .copyright__link {
    text-decoration: underline;
    color: #999999;
    font-size: 14px; }
    .copyright__link:hover {
      text-decoration: none; }
    @media (max-width: 767px) {
      .copyright__link {
        font-size: 14px; } }
  .copyright__item {
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3); }
    @media (max-width: 767px) {
      .copyright__item {
        width: 100%;
        padding-bottom: 6px; } }
    .copyright__item:nth-child(2) {
      width: 211px;
      max-width: 100%; }
      @media (max-width: 767px) {
        .copyright__item:nth-child(2) {
          padding-bottom: 10px; } }
    .copyright__item:nth-child(3) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      @media (max-width: 767px) {
        .copyright__item:nth-child(3) {
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start; } }
  @media (max-width: 767px) {
    .copyright__logo {
      display: none; } }
  .copyright__logo-text {
    display: block;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase; }
  .copyright__item {
    font-size: 14px;
    color: #999999;
    font-weight: normal; }
  .copyright__text {
    display: none; }
    @media (max-width: 767px) {
      .copyright__text {
        display: block; } }

a.footer__contact-text {
  text-decoration: underline; }
  a.footer__contact-text:hover {
    text-decoration: none; }

.logo__text {
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  display: block; }

.services-section {
  padding-bottom: 152px; }
  @media (max-width: 767px) {
    .services-section {
      padding-bottom: 25px; } }
  .services-section__description {
    width: 560px;
    max-width: 100%; }
  .services-section__general {
    margin-bottom: 90px; }
    @media (max-width: 767px) {
      .services-section__general {
        margin-bottom: 12px; } }

.breadcrumbs {
  margin: 32px 0 58px 0; }
  @media (max-width: 767px) {
    .breadcrumbs {
      margin: 1px 0 15px 0;
      display: none; } }
  .breadcrumbs__link {
    display: inline-block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 34px;
    font-weight: normal;
    letter-spacing: 0.05px; }
    .breadcrumbs__link:hover {
      color: #ff3333; }
    @media (max-width: 767px) {
      .breadcrumbs__link {
        margin-left: -15px; } }
    .breadcrumbs__link:last-child {
      pointer-events: none;
      text-decoration: none;
      color: #ff3333; }
    .breadcrumbs__link:after {
      content: '';
      background-color: #cccccc;
      width: 26px;
      height: 1px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 17px; }
      @media (max-width: 767px) {
        .breadcrumbs__link:after {
          display: none; } }
  .breadcrumbs__link:last-child::after {
    display: none; }
  .breadcrumbs_mobile {
    display: none; }
    @media (max-width: 767px) {
      .breadcrumbs_mobile {
        display: block; } }
  .breadcrumbs_mobile .breadcrumbs__link {
    pointer-events: visible; }
  .breadcrumbs_mobile .breadcrumbs__link::before {
    content: '';
    background-color: #cccccc;
    width: 26px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 17px; }

.service_bordercolor:hover::before {
  opacity: 1;
  border: 6px solid #00ccff; }

.full-page__general {
  margin-bottom: 90px; }

@media (max-width: 767px) {
  .full-page__title {
    text-align: center; } }

.full-page .news {
  border-bottom: 8px solid #ff3333; }
  .full-page .news__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .full-page .news__wrap {
    text-align: center;
    margin-top: 40px; }
    @media (max-width: 767px) {
      .full-page .news__wrap {
        margin-top: 0; } }
  .full-page .news__item {
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
    min-width: 0; }
    @media (max-width: 1279px) {
      .full-page .news__item {
        width: 50%; } }
    @media (max-width: 767px) {
      .full-page .news__item {
        width: 100%; } }
  .full-page .news__wrapper {
    margin-bottom: 40px; }

@media (max-width: 767px) {
  .full-page .item__wrapper {
    position: static;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); } }

@media (max-width: 767px) {
  .full-page .item__inner {
    padding: 0 0 10px 0; } }

@media (max-width: 767px) {
  .full-page .item__text {
    margin: 30px 0 0px; } }

.detalied__general {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 1279px) {
    .detalied__general {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  @media (max-width: 767px) {
    .detalied__general {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }

.detalied__column {
  width: 50%; }
  @media (max-width: 767px) {
    .detalied__column {
      width: 400px; } }
  .detalied__column:last-child {
    margin-left: 17px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center; }
    @media (max-width: 1279px) {
      .detalied__column:last-child {
        display: block; } }
    @media (max-width: 767px) {
      .detalied__column:last-child {
        display: none; } }

.detalied__border span {
  background-color: #242c50; }

.detalied__subtitle {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #242c50;
  width: 400px;
  max-width: 100%;
  margin-top: 100px; }
  @media (max-width: 1279px) {
    .detalied__subtitle {
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      margin-top: 33px;
      font-weight: bold; } }
  @media (max-width: 767px) {
    .detalied__subtitle {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      margin-top: 33px;
      font-weight: bold; } }

.detalied__slide_btn {
  pointer-events: none;
  color: #000; }

.detalied__title {
  padding: 60px 42px;
  position: relative;
  margin-top: 66px; }
  @media (max-width: 1279px) {
    .detalied__title {
      margin-top: 5px;
      font-size: 29px;
      line-height: 29px;
      margin: 0 0 0 -15px;
      padding: 48px 34px; } }
  @media (max-width: 767px) {
    .detalied__title {
      margin-top: 5px;
      font-size: 20px;
      line-height: 24px;
      margin: 0 0 0 -15px;
      padding: 24px 15px; } }

.detalied__text {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  font-size: 16px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  margin-top: 37px; }
  @media (max-width: 1279px) {
    .detalied__text {
      font-size: 14px;
      line-height: 24px;
      margin-top: 14px;
      -webkit-column-gap: 30px;
         -moz-column-gap: 30px;
              column-gap: 30px; } }
  @media (max-width: 767px) {
    .detalied__text {
      -webkit-columns: auto;
         -moz-columns: auto;
              columns: auto;
      font-size: 12px;
      line-height: 17px;
      margin-top: 14px; } }
  .detalied__text > p {
    width: 574px;
    max-width: 100%; }

.detalied__content {
  width: 100%;
  margin-top: 100px; }
  @media (max-width: 767px) {
    .detalied__content {
      margin-top: 40px;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 100vw; } }

.detalied .content__pic {
  display: block;
  height: auto;
  max-width: 100%; }

.detalied__btn {
  display: inline-block;
  padding: 15px 120px;
  background-color: #ff3333;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; }
  .detalied__btn:hover {
    background-color: #e60000;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  @media (max-width: 1279px) {
    .detalied__btn {
      padding: 15px 120px;
      font-size: 14px; } }
  @media (max-width: 767px) {
    .detalied__btn {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      padding: 10px 87px; } }

.detalied__button-wrap {
  text-align: center;
  display: none; }
  @media (max-width: 767px) {
    .detalied__button-wrap {
      display: block; } }

.detalied__list {
  margin-top: 110px; }

.detalied__row {
  margin-bottom: 67px; }
  @media (max-width: 1279px) {
    .detalied__row {
      margin: 60px 0; } }
  @media (max-width: 767px) {
    .detalied__row {
      margin: 40px 0; } }

.order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px; }
  @media (max-width: 767px) {
    .order {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin: 40px 0 0 0;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .order__link {
    margin-right: 100px; }
    @media (max-width: 1279px) {
      .order__link {
        font-size: 14px;
        margin-right: 80px; } }
    @media (max-width: 767px) {
      .order__link {
        font-size: 12px;
        margin: 0; } }
  .order__pic {
    display: block;
    height: auto;
    max-width: 100%; }
  .order__personal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .order__personal {
        margin-top: 20px; } }
  .order__personal-link {
    color: #242c50;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 16px; }
    @media (max-width: 1279px) {
      .order__personal-link {
        font-size: 16px;
        margin-left: 15px; } }
    @media (max-width: 767px) {
      .order__personal-link {
        font-size: 14px;
        margin-left: 15px; } }
    .order__personal-link:hover {
      text-decoration: none; }
  @media (max-width: 1279px) {
    .order__wrapper {
      width: 33px; } }
  @media (max-width: 767px) {
    .order__wrapper {
      width: 33px; } }

@media (max-width: 1279px) {
  .list {
    margin: 0 0 40px 0px; } }

.list__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 767px) {
    .list__row {
      display: block; } }

.list__wrap {
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;
  margin-bottom: 40px;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px; }
  @media (max-width: 1279px) {
    .list__wrap {
      -webkit-columns: 2;
         -moz-columns: 2;
              columns: 2; } }
  @media (max-width: 767px) {
    .list__wrap {
      -webkit-columns: auto;
         -moz-columns: auto;
              columns: auto; } }

.list__column:last-child {
  padding-left: 10px; }
  @media (max-width: 767px) {
    .list__column:last-child {
      padding: 0; } }

.list__description {
  width: 640px;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 30px; }
  @media (max-width: 1279px) {
    .list__description {
      font-size: 14px; } }
  @media (max-width: 767px) {
    .list__description {
      font-size: 12px;
      line-height: 18px; } }

.list__title {
  font-size: 36px;
  line-height: 41px; }
  @media (max-width: 767px) {
    .list__title {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px; } }

.list__button {
  margin-top: 53px; }
  @media (max-width: 767px) {
    .list__button {
      display: none; } }
  .list__button_mobile {
    display: none; }
    @media (max-width: 767px) {
      .list__button_mobile {
        display: block;
        text-align: center;
        margin-top: 40px; } }
  .list__button_mobile .detalied__btn {
    padding: 10px 87px;
    font-size: 12px; }

.list__link {
  font-size: 16px;
  display: block;
  margin-bottom: 20px;
  margin-left: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  position: relative; }
  @media (max-width: 767px) {
    .list__link:nth-child(n+7) {
      display: none; } }
  .list__link::after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #999999;
    position: absolute;
    top: 7px;
    left: -20px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  @media (max-width: 1279px) {
    .list__link {
      font-size: 14px;
      margin-left: 10px;
      margin-bottom: 17px;
      width: 100%; } }
  @media (max-width: 767px) {
    .list__link {
      font-size: 12px;
      margin-left: 10px;
      margin-bottom: 17px;
      width: 100%; } }
  .list__link:hover {
    color: #fd4646; }
  .list__link_fire::before {
    content: '';
    width: 12px;
    height: 16px;
    background-image: url(../assets/images/fire.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    position: absolute;
    top: 1px;
    left: -22px; }
  .list__link_fire::after {
    content: none; }

.advantages {
  background-color: #111829;
  padding: 80px 0; }
  .advantages__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media (min-width: 1280px) {
      .advantages__row {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin: 0 -26px; } }
    @media (max-width: 1279px) {
      .advantages__row {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
    @media (max-width: 767px) {
      .advantages__row {
        display: block; } }
  .advantages__text {
    font-weight: 800; }
    @media (max-width: 1279px) {
      .advantages__text {
        font-size: 14px; } }
    @media (max-width: 767px) {
      .advantages__text {
        font-size: 14px; } }
  .advantages__wrapper {
    margin-bottom: 35px;
    width: 65px;
    margin-right: 20px; }
    @media (max-width: 1279px) {
      .advantages__wrapper {
        width: 43px; } }
  .advantages__pic {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto; }
  @media (min-width: 1280px) {
    .advantages__item {
      width: 20%;
      padding: 0 26px; } }
  .advantages__item:nth-child(4) > .advantages__wrapper {
    height: 65px; }
    @media (max-width: 767px) {
      .advantages__item:nth-child(4) > .advantages__wrapper {
        height: 43px; } }
  @media (max-width: 1279px) {
    .advantages__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      width: 222px;
      max-width: 100%; } }
  @media (max-width: 767px) {
    .advantages__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      width: 222px;
      margin: 0 auto;
      max-width: 100%; } }
  .advantages__text p:nth-child(1) {
    color: #fff;
    background-color: #242c50;
    padding: 5px; }
  .advantages__text p:nth-child(2) {
    background-color: #242c50;
    display: inline-block;
    color: #fff;
    padding: 5px; }
  .advantages__item:nth-child(4) .advantages__text p:nth-child(1) {
    display: inline-block; }
  .advantages__item:nth-child(4) .advantages__text p:nth-child(2) {
    display: block; }

@media (min-width: 1280px) {
  .detalied__border span.border-bottom {
    width: 729px; } }

.contact__inner {
  margin-bottom: 112px; }
  @media (max-width: 767px) {
    .contact__inner {
      margin-bottom: 41px; } }

.contact__description {
  width: 534px;
  max-width: 100%; }

.contact__button {
  margin-top: 60px; }
  @media (max-width: 767px) {
    .contact__button {
      margin-top: 25px; } }

.contact__btn {
  padding: 15px 101px; }
  @media (max-width: 767px) {
    .contact__btn {
      padding: 10px 72px;
      font-size: 12px;
      white-space: nowrap;
      min-width: 100%;
      text-align: center; } }

.contact__general {
  min-height: 443px; }
  @media (max-width: 767px) {
    .contact__general {
      min-height: 0; } }

.coordinates {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #111829), to(#0e283c));
  background: -webkit-linear-gradient(top, #111829 40%, #0e283c);
  background: -o-linear-gradient(top, #111829 40%, #0e283c);
  background: linear-gradient(to bottom, #111829 40%, #0e283c);
  border-bottom: 8px solid #ff3333; }
  @media (max-width: 1279px) {
    .coordinates {
      border-bottom: 0; } }
  .coordinates__inner {
    padding: 75px 0; }
    @media (max-width: 767px) {
      .coordinates__inner {
        padding: 58px 0; } }
  .coordinates__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .coordinates__row {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
  .coordinates__item {
    width: 25%;
    margin-right: 10px; }
    @media (max-width: 767px) {
      .coordinates__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin-bottom: 20px; } }
  .coordinates__description {
    color: #ffffff;
    font-weight: 900;
    display: inline-block;
    background-color: #242c50;
    padding: 5px;
    margin-top: 20px;
    margin-left: -5px; }
    @media (max-width: 767px) {
      .coordinates__description {
        margin-left: 0;
        font-size: 14px;
        margin-top: 0; } }
  .coordinates__wrap {
    height: 61px;
    width: 56px;
    display: block; }
    @media (max-width: 767px) {
      .coordinates__wrap {
        width: 30px;
        height: auto;
        margin-right: 20px;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0; } }
  .coordinates__pic {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 100%; }
  .coordinates__link {
    display: block;
    margin-top: 15px; }
    .coordinates__link:hover {
      text-decoration: underline;
      -webkit-text-decoration-color: #ffffff;
              text-decoration-color: #ffffff; }
    @media (max-width: 767px) {
      .coordinates__link {
        margin-top: 2px; } }
  .coordinates__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    display: block;
    margin-top: 15px; }
    @media (max-width: 767px) {
      .coordinates__text {
        font-size: 14px; } }

.yamap {
  width: 594px;
  height: 443px;
  position: absolute;
  top: 92px;
  right: -webkit-calc((100vw - 1240px) / 2);
  right: calc((100vw - 1240px) / 2); }
  @media (max-width: 1279px) {
    .yamap {
      position: static;
      width: 100%;
      height: 267px;
      min-height: 100%; } }

.popup {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .popup__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer; }
  .popup__inner {
    max-width: 443px;
    background-color: #fff;
    padding: 20px 57px 50px 57px;
    position: relative;
    z-index: 5;
    border: 13px solid #242c50; }
  .popup__close {
    position: absolute;
    width: 20px;
    height: 27px;
    top: 12px;
    right: 16px;
    cursor: pointer; }
    .popup__close::before, .popup__close::after {
      position: absolute;
      left: 45%;
      content: '';
      height: 100%;
      width: 2px;
      background-color: #000; }
    .popup__close::before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .popup__close::after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .popup__title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #242c50;
    margin-bottom: 47px; }
    @media (max-width: 767px) {
      .popup__title {
        font-size: 18px;
        margin-bottom: 25px; } }
  .popup__content {
    margin-top: 13px; }

.mfp-close {
  display: none !important; }

.mfp-container {
  padding: 18px 8px !important;
  overflow: auto;
  -webkit-animation: open 0.8s;
          animation: open 0.8s; }

.mfp-bg {
  background-color: #fff; }

.popup .mfp-wrap {
  position: fixed !important; }

@-webkit-keyframes open {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes open {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes close {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes close {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.form__field {
  margin-bottom: 15px; }
  @media (max-width: 767px) {
    .form__field {
      margin-bottom: 0; } }

.form__inp {
  width: 100%;
  height: 100%;
  outline: none;
  background-color: #fff;
  border: 1px solid #999999;
  padding: 10px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  font-family: 'Roboto', sans-serif; }
  @media (max-width: 767px) {
    .form__inp {
      padding: 6px 16px; } }
  .form__inp.error {
    border-color: #ff3f3f; }
  .form__inp.valid {
    border-color: #000;
    color: #000; }

.form__button {
  border: none;
  padding: 15px 102px;
  color: #ffffff;
  letter-spacing: 0.01em;
  font-weight: bold; }
  @media (max-width: 767px) {
    .form__button {
      padding: 15px 31px;
      width: 100%;
      max-width: 100%;
      font-size: 12px;
      margin-top: 10px; } }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px 0px; }
  @media (max-width: 767px) {
    .form__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.form__row .form__field {
  margin: 0 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.form__check-text {
  font-size: 12px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal; }

.form__check {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px; }
  @media (max-width: 767px) {
    .form__check {
      margin-bottom: 10px; } }
  .form__check input {
    position: absolute;
    left: -9999px;
    top: -99999px;
    opacity: 0;
    height: 0px;
    width: 0px;
    visibility: hidden; }
  .form__check input + label {
    display: block;
    border: 1px solid #999999;
    cursor: pointer;
    padding: 6px; }
    .form__check input + label .form__check-icon {
      width: 15px;
      height: 15px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      display: inline-block;
      background-color: transparent;
      position: relative;
      top: 2px;
      border: 1px solid #242c50;
      margin-right: 2px; }
      .form__check input + label .form__check-icon::after {
        content: '';
        position: absolute;
        left: -1px;
        top: -1px;
        display: block;
        width: 15px;
        height: 15px;
        background-image: url(../assets/images/Forma1.png);
        background-repeat: no-repeat;
        -webkit-background-size: contain;
                background-size: contain;
        background-position: center center;
        opacity: 0; }
  .form__check input:checked + label {
    border-color: red; }
    .form__check input:checked + label .form__check-icon::after {
      opacity: 1; }

.home {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #000; }
  @media (max-width: 767px) {
    .home {
      font-size: 12px;
      line-height: 18px; } }
  .home__description {
    width: 570px;
    max-width: 100%; }
  .home h1 {
    font-family: 'Raliway', sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    color: #242c50;
    margin-bottom: 39px; }
    @media (max-width: 767px) {
      .home h1 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 30px; } }
  .home p {
    margin-bottom: 39px; }
    @media (max-width: 767px) {
      .home p {
        margin-bottom: 27px; } }
  .home .gallery__inner {
    margin: 0; }
    @media (max-width: 767px) {
      .home .gallery__inner {
        margin: 27px 0;
        padding-bottom: 50px; } }
  .home__gallery {
    margin-bottom: 56px; }
  .home__column {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
    -webkit-column-gap: 22px;
       -moz-column-gap: 22px;
            column-gap: 22px; }
    @media (max-width: 767px) {
      .home__column {
        margin: 36px 0 0 0;
        -webkit-columns: 1;
           -moz-columns: 1;
                columns: 1; } }
    @media (min-width: 768px) {
      .home__column {
        margin-top: 39px; }
        .home__column p {
          margin: 0px; } }
  .home__gallery {
    padding: 0; }
  .home h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 31px;
    color: #242c50;
    margin: 39px 0; }
    @media (max-width: 767px) {
      .home h2 {
        font-size: 16px;
        line-height: 22px;
        margin: 20px 0; } }
  .home ul {
    margin-bottom: 90px; }
    @media (max-width: 767px) {
      .home ul {
        margin-bottom: 40px; } }
    .home ul li {
      font-size: 16px;
      display: block;
      position: relative;
      margin-left: 22px;
      margin-bottom: 10px; }
      @media (max-width: 1279px) {
        .home ul li {
          font-size: 14px;
          margin-left: 10px;
          margin-bottom: 17px;
          width: 100%; } }
      @media (max-width: 767px) {
        .home ul li {
          font-size: 12px;
          margin-left: 10px;
          margin-bottom: 17px;
          width: 100%; } }
      .home ul li::before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #999999;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        left: -20px;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
  .home img {
    display: block;
    height: auto;
    max-width: 100%; }
    @media (max-width: 1279px) {
      .home img {
        margin-top: 40px;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 100vw; } }
    @media (max-width: 767px) {
      .home img {
        margin-top: 40px;
        position: relative;
        left: 0;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        width: 100vw;
        margin: 0 -35px;
        max-width: none; } }
  .home ol {
    counter-reset: num; }
    @media (max-width: 767px) {
      .home ol {
        margin-bottom: 37px; } }
    .home ol li {
      margin-bottom: 10px;
      position: relative;
      right: -22px; }
  .home li::before {
    content: counter(num) ". ";
    counter-increment: num;
    color: #242c50;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-right: 5px;
    position: absolute;
    left: -22px; }
    @media (max-width: 767px) {
      .home li::before {
        font-size: 12px; } }
  .home__table-wrap {
    margin: 60px 0;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    @media (max-width: 767px) {
      .home__table-wrap {
        margin: 27px -35px 50px -35px;
        padding: 0 35px 44px; } }
  .home table {
    display: inline-table; }
  .home th {
    border: 1px solid #000;
    border-right-color: #fff;
    background-color: #242c50;
    color: #ffffff;
    text-align: left;
    padding: 20px;
    width: 310px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px; }
    @media (max-width: 767px) {
      .home th {
        font-size: 12px;
        font-weight: 500;
        padding: 15px;
        min-width: 200px; } }
    .home th:last-child {
      border-right-color: #000; }
  .home td {
    border: 1px solid #d8d8d8;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; }
    @media (max-width: 767px) {
      .home td {
        font-size: 12px;
        font-weight: 500;
        padding: 15px;
        min-width: 200px; } }
  .home__video {
    background-image: url(../assets/images/content.png);
    display: block;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center center;
    position: relative;
    margin: 60px 0 90px 0; }
    @media (max-width: 767px) {
      .home__video {
        margin: 0 -50px 60px; } }
    .home__video::after {
      content: '';
      display: block;
      width: 136px;
      height: 136px;
      max-width: 100%;
      background-image: url(../assets/images/video_icon.png);
      background-repeat: no-repeat;
      -webkit-background-size: cover;
              background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
      @media (max-width: 767px) {
        .home__video::after {
          width: 63px;
          height: 63px; } }
    .home__video::before {
      content: '';
      display: block;
      padding-top: 50%;
      background-color: rgba(11, 27, 102, 0.7); }

.page404__title {
  display: block;
  line-height: 60px; }
  .page404__title_white {
    background-color: #242c50;
    color: #fff;
    display: inline-block;
    padding: 0 10px; }

.page404__inner {
  text-align: center;
  min-height: -webkit-calc(100vh - 279px);
  min-height: calc(100vh - 279px); }

.page404__general {
  padding-top: 10vh; }
